

.row-cols-md-2>* {
    width: 20%;
    margin: 20px;
}

.g-4 {
    margin: 80px;
}

.img {
    height: 264px;
    width: auto;
}

.card-img-top{
    height: 264px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.phone-card :hover{
    border:lightcoral 2px;
    background-color: lightcoral;
    color: black;
}

.phone-card{
    text-decoration: none;
    color: black
}

.no-phones{
    text-align: center
}