.phone-list {

    column-count: 7;
    column-gap: 10px;
    padding: 15px 10px 5px 10px;

}

@media only screen and (max-width: 992px) {
    .phone-list {
        column-count: 5;
    }

}

@media only screen and (max-width: 600px) {
    .phone-list {
        column-count: 4;
    }
}

@media only screen and (max-width: 500px) {
    .phone-list {
        column-count: 3;
    }
}

@media only screen and (max-width: 431px) {
    .phone-list {
        column-count: 2;
    }
}