.hello-message {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(212, 7, 7);
    font-style: italic;
    margin-top: 23px;
}

.navbar-light .navbar-brand {
    font-family: URW Chancery L, cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin-right: 10px;
    color: rgb(212, 7, 7);
}

.navbar-expand-lg .navbar-nav {
    margin-top: 6px;
}

.me-auto {
    align-items: center;
}

/* .me-auto .search-bar {
    padding-left: 5px;
}

.me-auto .search-bar #search-text {
    border-radius: 10px;
    width: 30%;
}

.me-auto .search-bar #search-button {
    border-radius: 10px;
    margin-right: 5px;
    align-content: center;
}

.me-auto .search-bar #search-button img {
    margin-right: 2px;
} */

.navbar-expand-lg .navbar-nav {
    margin: 0px;
    align-items: center;
    text-align: center;
}