.hello-message {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(212, 7, 7);
    font-style: italic;
    margin-top: 23px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 10000;
}
.navbar>.container {
    gap: 25px;
}

.header-buttons{
    color: rgba(0,0,0,.55);
    font-family: var(--bs-body-font-family);
}

.navbar-light .navbar-brand,
.logo {
    font-family: URW Chancery L, cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: rgb(212, 7, 7);
    margin-right: 0;
}

#basic-navbar-nav {
    justify-content: space-between;
}

.navbar-expand-lg .navbar-nav {
    margin-top: 6px;
}

.header-buttons {
    align-items: center;
}

/* .me-auto .search-bar {
    padding-left: 5px;
}

.me-auto .search-bar #search-text {
    border-radius: 10px;
    width: 30%;
}

.me-auto .search-bar #search-button {
    border-radius: 10px;
    margin-right: 5px;
    align-content: center;
}

.me-auto .search-bar #search-button img {
    margin-right: 2px;
} */

.navbar-expand-lg .navbar-nav {
    margin: 0px;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .hello-message {
        display: none;
    }

    .navbar {
        width: 100%;
    }
    .navbar-light .navbar-brand,.logo {
        font-size: 25px;
    }

    /* .container {
        flex-wrap: nowrap;
        min-width: fit-content;
        justify-content: flex-start;
        margin: 10px;
    } */

    .navbar-nav {
        flex-direction: row;
    }

    .collapse:not(.show) {
        display: block;
    }

    .navbar>.container {
        flex-wrap: nowrap;
        min-width: fit-content;
    
        margin: 10px;
        flex-wrap: nowrap;
        
        gap: 15px;
        justify-content: space-between;
        width: 100%;

    }

    .me-auto {
        gap: 15px;
    }

    .header-buttons {
        gap: 10px;
    }
}

@media only screen and (max-width: 603px) {
    .navbar>.container{
        justify-content: space-between;
        width: 100%;
    }

    #dropdown-basic{
        background-color: rgb(212, 7, 7);
        border-radius: 15px;
        
    }
    #root > div > nav > div > div > div{
        right: 0;
        left: auto;
        border-radius: 15px;
    }

    .header-buttons {
        flex-direction: column;
    }

    .header-buttons :hover{
        padding: 5px 15px;
        border-radius: 15px;
        background-color: lightgrey;
    }
  
}

@media only screen and (max-width: 300px) {

    .navbar-light .navbar-brand,.logo {
        font-size: 20px;
    }
}